// IDs for dialog boxes made visible by JavaScript
#submit-dialog-box { visibility: hidden; }
#warning-dialog-box { visibility: hidden; }
#incomplete-form { display: none; color: red;}
#duplicate-name { display: none; color: red;}
#no-name { display: none; color: red;}
#no-description { display: none; color: red;}
#no-category { display: none; color: red;}
#no-level { display: none; color: red;}
#no-tags { display: none; color: red;}
#no-image { display: none; color: red;}
#no-downloads { display: none; color: red;}
#max-tags-reached { display: none; color: red; width: 400px;}
#duplicate-tags { display : none; color: red; width: 400px;}
#duplicate-files { display: none; color: red;}
#file-too-large { display: none; color: red;}

.popup-container {
    display: block;
}

.popup-container {
    position: fixed; 
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px;
    background-color: #F4F5F5;
    border: 1px solid black;
}

.popup-content {
    padding: 5px;
    margin: 5px;
}

#preview {
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    // object-fit: contain;
}

#output {
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    object-fit: contain;  
}

.warning-container {
    height: 150px;
    // border: solid 1px black;
    overflow-y: auto;
    width: 100%;
}

.tags-added-adjustment {
    margin-top: 15px;
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-database-form {
    // padding: 10px;
    margin: 10px;
    background-color: #F4F5F5;
    box-shadow: 10px 10px;
    // max-width: 300px;
}

.small-form-container {
    width: 250px;
    margin: 10px;
}

.form-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.form-downloads {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 400px;
}

.form-container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    padding: 10px;
    // align-items: flex-start;
}

.button-menu-container {
    display: flex;
    width: 100%;

    input {
        width: 75%;
    }

    button {
        width: 250px;
        margin: 5px;
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    // margin: 1em 0;
    // align-items: flex-start;
    // margin-right: 10px;
    // width: 300px;

    input {
        margin: 5px 5px 5px 0px;
        padding: 10px;
        width: 250px;
    }

    textarea {
        margin: 5px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 200px;
        // border: none;
        // border-radius: 5px;
        overflow-y: auto;
        resize: none;
    }
    
}

.small-form-fields {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        margin: 5px 5px 5px 0px;
        padding: 10px;
        width: 250px;
    }

    .form-buttons {
        min-width: 145px;
        max-width: 145px;
        display: flex;
        align-items: center;
        
    }

    button {
        margin: 0 1px;
    }
}

.small-form-content {
    p {
        max-width: 350px;
    }
}

.form-fields-notext {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.form-subfield {
    display:flex;
    flex-direction: column;
    margin: 1em 0;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    button {
        margin: 10px 0 10px 10px;
    }
}

.input-container {
    display: flex;
    align-items: center;
    // height: 235px;
}

.vertical-input-container {
    height: 235px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470.24px;

    label {
        margin-right: 10px;
    }
}

.description-input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-input-field {
    display: flex;

    margin-right: 10px;
}

.file-input-warning {
    margin: 10px;
    width: 50%;
    max-height: 200px;
}

// .database-container {
//     // display: flex;
// }

.database-form {
    padding: 10px;
    margin: 20px;
    background-color: #F4F5F5;
    box-shadow: 10px 10px;
    width: 950px;
    min-width: 100%;
}

.added-item {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 5px;

    label {
        overflow-x: hidden;
        white-space: nowrap;
        margin-right: 5px;
    }

    // button {
    //     width: 25%;
    // }
}

.image-container {
    display:flex;
    justify-content: space-evenly;
    margin: 5px 5px 5px 0;
    padding: 10px;
}

.catalogue-profile-image {
    height: 280px;
    width: 200px;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: white;
    border: 1px solid grey;
    margin: 5px 0px;
}

.catalogue-card-image {
    height: 280px;
    width: 400px;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: white;
    border: 1px solid grey;
    margin: 5px 0px;
}


.database-navigation-container {
    margin: 10px 10px 0 10px;
    box-shadow: 10px 10px;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: white;
    // box-shadow: 10px 10px;

    a, a:visited {
        font-family: 'CodeDemo-Bold';
    color: white;
    text-decoration: white;
    letter-spacing: 1px;
    padding: 10px;
    }

    .search-bar {
        width: 82.3%;
        margin: 0 5px;
        padding: 0 5px;
    }

    .search-bar-small {
        width: 60%;
        margin: 0 5px;
        padding: 0 5px;
    }

    .add-subject-button {
        width: 150px;
    }

    .database-navigation-footer {
        width: 18.1%;
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            margin: 0 1px;
        }
    }

    .database-navigation-footer-small {
        width: 40%;
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            margin: 0 1px;
        }
    }
}

.database-navigation-content {
    display: flex;
    width: 100%;
}

.form-inside-content {
    // max-height: 200px;
    margin: 10px 0px;
    background-color: white;
    border: 1px solid grey;
    // border-radius: 10px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;

}

#default {
    height: 200px;
    width: 50%;
}

#duplicates {
    height: 94px;
    width: 100%;

}

.form-warning-container {
    height: 100px;
    overflow-y: scroll;
}

.form-profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.admin-layout {
    // margin: 0 auto;
    max-width: 1920px;
    // padding: 0 1.0875rem 1.45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // button {
    //     // @extend %admin-font-options;
    // }

    // h2 {
    // //    @extend %admin-font-options; 
    // }

    .admin-subnav {
        margin: 10px 0 0 10px;
        align-self: flex-start;
    }
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    // position: absolute;
    // overflow: hidden;
    // width: 0%;
  }
  .custom-file-input::before {
    // content: "Add File";
    display: inline-block;
    // background: linear-gradient(top, #f9f9f9, #e3e3e3);
    background-color: #e7e7e7;
    border: 1px solid #999;
    // border-radius: 3px;
    padding: 5px;
    height: 32px;
    // width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    // text-shadow: 1px 1px #fff;
    // font-weight: 700;
    font-size: 16px;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  #image::before {
        content: "Select Profile Image";
  }

  #download::before {
        content: "Select File/s";

  }

.database-table {
    border-collapse: collapse;
    // margin: 25px 0;
    font-size: 0.9em;
    background-color: white;
    margin: 0 10px 10px 10px;
    font-family: sans-serif;
    // min-width: 1250px;
    box-shadow: 10px 10px;

    th {
        padding: 12px 15px;
    }
    
    td {
        padding: 12px 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .resource-name {
        max-width: 200px;
        min-width: 200px;
    }

    .category {
        min-width: 200px;
        max-width: 200px;
    }

    .level {
        min-width: 200px;
        max-width: 200px;
    }

    .table-buttons {
        margin-left: 5px;
        padding: 12px 4px 12px 15px;
        min-width: 200px;
        max-width: 200px;

        display: flex;
        justify-content: center;

        button {
            width: 100%;
            margin: 0px 1px;
        }
    }



    .tags {
        max-width: 350px;
        width: 350px;
    }
}

thead {

    tr {
        background-color: #D93030;
        color: #ffffff;
        text-align: left;
    }

    button {
        background-color: transparent;
        color: white;
        border: none;
        padding: 0;
    }

}

tbody {

    tr {
        border-bottom: 1px solid #dddddd;
    
        &:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        &:last-of-type {
            border-bottom: 2px solid #D93030;
        }
    }

}

