// IDs for dialog boxes made visible by JavaScript
#submit-dialog-box { visibility: hidden; }
#warning-dialog-box { visibility: hidden; }
#incomplete-form { display: none; }
#duplicate-name { display: none; }
#max-tags-reached { display: none; }
#duplicate-tags { display : none; }
#duplicate-files { display: none; }
#file-too-large { display: none; }

.popup-container {
    display: block;
}

.popup-container {
    position: fixed; 
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4F5F5;
    border: 1px solid black;
    border-radius: 10px;
}

.popup-content {
    padding: 5px;
    margin: 5px;
}

#preview {
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    object-fit: contain;
}

#output {
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    object-fit: contain;  
}

.warning-container {
    height: 150px;
    // border: solid 1px black;
    overflow-y: auto;
    width: 100%;
}

.tags-added-adjustment {
    margin-top: 15px;
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-database-form {
    // padding: 10px;
    margin: 10px;
    background-color: #F4F5F5;
    border-radius: 10px;
    max-width: 300px;
}

.small-form-container {
    width: 250px;
    margin: 10px;
}

.form-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.form-downloads {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 400px;
}

.form-container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    padding: 0 10px;
    // align-items: flex-start;
}

.button-menu-container {
    display: flex;
    width: 100%;

    input {
        width: 75%;
    }

    button {
        width: 250px;
        margin: 5px;
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    // margin: 1em 0;
    // align-items: flex-start;
    // margin-right: 10px;
    // width: 300px;

    input {
        margin: 5px 5px 5px 0px;
        padding: 10px;
        width: 250px;
        
    }

    textarea {
        margin: 5px 5px 5px 0px;
        padding: 10px;
        width: 500px;
        height: 200px;
        // border: none;
        // border-radius: 5px;
        overflow-y: auto;
        resize: none;
    }
    
}

.form-fields-notext {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.form-subfield {
    display:flex;
    flex-direction: column;
    margin: 1em 0;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.database-container {
    display: flex;
}

.database-form {
    // padding: 10px;
    margin: 10px;
    background-color: #F4F5F5;
    box-shadow: 10px 10px;
    // width: 600px;
    min-width: 100%;
}

.added-item {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px;
}

.image-container {
    display:flex;
    justify-content: space-evenly;
    margin: 5px 5px 5px 0;
    padding: 10px;
}

.catalogue-profile-image {
    height: 280px;
    width: 200px;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: white;
    border: 1px solid grey;
    margin: 5px 0px;
}

.catalogue-card-image {
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: white;
    border: 1px solid grey;
    margin: 5px 0px;
}


.database-navigation-container {
    // height: 75px;
    // min-width: 275px;
    flex-basis: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // align-items: center;

    a, a:visited {
        font-family: 'CodeDemo-Bold';
    color: white;
    text-decoration: white;
    letter-spacing: 1px;
    padding: 10px;
    }
}

.form-inside-content {
    // max-height: 200px;
    margin: 10px 0px;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    // border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#tags {
    height: 200px;
    width: 510px;
}

#downloads {
    height: 200px;
}

.form-warning-container {
    height: 100px;
    overflow-y: scroll;
}

.form-profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.admin-layout {
    // margin: 0 auto;
    max-width: 1920px;
    // padding: 0 1.0875rem 1.45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        // @extend %admin-font-options;
    }

    h2 {
    //    @extend %admin-font-options; 
    }

    .admin-subnav {
        margin: 10px 0 0 10px;
        align-self: flex-start;
    }
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
    width: 100%;
  }
  .custom-file-input::before {
    // content: "Add File";
    display: inline-block;
    // background: linear-gradient(top, #f9f9f9, #e3e3e3);
    background-color: #e7e7e7;
    border: 1px solid #999;
    // border-radius: 3px;
    padding: 5px;
    height: 32px;
    // width: 200px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    // text-shadow: 1px 1px #fff;
    // font-weight: 700;
    font-size: 16px;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  #image::before {
        content: "Select Profile Image";
  }

  #download::before {
        content: "Select File/s";

  }