@font-face {
    font-family: 'CodeDemo-Light';
    src: url("../fonts/CodeDemo-Light.otf");
}

@font-face {
    font-family: 'CodeDemo-Bold';
    font-weight: bold;
    src: url("../fonts/CodeDemo-Bold.otf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', Fallback, sans-serif;
    // letter-spacing: 0em;
    font-size: 1rem;
}

h1 {
    font-family: 'CodeDemo-bold';
    // font-size: 36px;
    letter-spacing: 2px;
}

// .added-tags-container {
//     min-height: 114px;
//     width: 100%;
// }


.content-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    background-color: #F2B749;
}

.header-container {
    background-color: #0B6BBF;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.admin-header {
    background-color: #D93030;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        color: white;
    }
}

.content-tag {
    padding: 1rem;
    display: flex;
    justify-content: space-around;

    h1 {
        padding: 1rem;
    }
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin-layout {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 1.0875rem 1.45rem;
}

.popup-container {
    display: block;
}

.warning-container {
    height: 150px;
    // border: solid 1px black;
    overflow-y: auto;
    width: 100%;
}

.header-title {
    a, a:visited {
        font-size: 32px;
    }
}

a, a:visited {
    font-family: 'CodeDemo-Bold';
    color: white;
    text-decoration: white;
    letter-spacing: 2px;
    padding: 0 10px;
}

.link-button {
    font-family: 'CodeDemo-Bold';
    color: white;
    text-decoration: white;
    letter-spacing: 2px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
}

.database-container {
    display: flex;
}

.database-navigation-container {
    // height: 75px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.database-navigation-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2px;
}

.database-form {
    // padding: 10px;
    margin: 10px;
    background-color: #F4F5F5;
    border-radius: 10px;
    width: 800px;
}

.form-header {
    padding: 10px;
    height: 50px;
    background-color: #0B6BBF;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.small-database-form {
    padding: 10px;
    margin: 10px;
    background-color: #F4F5F5;
    border-radius: 2px;
    max-width: 300px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.form-downloads {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 400px;
}

.form-warning-container {
    height: 100px;
    overflow-y: scroll;
}

.form-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    // align-items: flex-start;
}

.small-form-container {
    width: 250px;
    margin: 10px;
}

.image-container {
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 5px 0px;
}

#preview {
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    object-fit: contain;
}

#output {
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    object-fit: contain;  
}

table {
    padding: 10px;
    width: 100%;
}

input {
    margin: 6px 0px;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button {
    padding: 5px;
    // border: 1px solid;
    // border-radius: 5px;
    // background-color: white;
}

textarea {
    margin: 6px 0px;
    padding: 5px;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    overflow-y: auto;
}

// #file-upload-button {
//     padding: 5px;
//     border: 1px solid;
//     border-radius: 5px;
// }

h1 {
    font-size: 36px;
}

.popup-container {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4F5F5;
    border: 1px solid black;
    border-radius: 10px;
}

.popup-content {
    padding: 5px;
    margin: 5px;
}

.form-inside-container {
    height: 125px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

// IDs for dialog boxes made visible by JavaScript
#submit-dialog-box { visibility: hidden; }
#warning-dialog-box { visibility: hidden; }
#incomplete-form { display: none; }
#duplicate-name { display: none; }
#max-tags-reached { display: none; }
#duplicate-tags { display : none; }
#duplicate-files { display: none; }

