@font-face {
    font-family: 'Alternate Gothic No3 D Regular';
    src: "fonts/Alternate Gothic No3 D Regular.otf";
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alternate Gothic No3 D Regular', Fallback, sans-serif;
    letter-spacing: 0em;
    font-size: 1rem;
}

body {
    background-color: #cbd9bf;
}

.navigation-bar-container {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #869679;
    font-size: 1.2rem;

    a, a:visited {
     text-decoration: none;
     color: #ffc800;
    }
}

.catalogue-image-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.catalogue-image {
    max-height: 100%;
    max-width: 100%;
}

.resource-page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;

    h3 {
        font-size: 1rem;
    }
}

.resource-page-items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;

    h3 {
      height: 50px;  
    }
}

.resource-page-filter {
    width: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    button {
      margin: 1px;  
      font-family: inherit;
      font-size: 0.6em;
      border: 0;
      padding: 0;
      background-color: transparent;
    }

    button:focus {
        outline: none;
        color: white;
    }
}

.resource-page-categories {
    display: flex;
    flex-wrap: wrap;

    p {
        padding: 3px;
    }
}

// .no-result-feedback {
//     transition-delay: 5s;
// }

.catalogue-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 200px;
    height: 300px;

}

.catalogue-button {
    display: flex;
    padding: 10px;
    justify-content: center;

    button {
        margin: 0 5px;
        padding: 0 3px;
        font-size: 0.7rem;
    }
}

.resource-database-table {
    margin: 20px;
}

.data-row {
    height: 30px;
}

.data-item {
    margin: 0 2px;
}

.table-image {
    max-height: 30px;
    max-width: 30px;
}

.content-container {
    margin: 20px;

}
